*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
ul li{
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    list-style-type: none;
}
img{
    max-width: 100%;
}
header{
    background-color: rgb(162, 233, 162);
}
.header1{
    display: flex;
    justify-content: space-between;
    padding: 30px 25px 48px 20px;
    align-items: center;
}
.header1 nav ul{
    display: none;
}
.main-header{
    text-align: center;
}
.map{
   padding: 39px 20px 10px 20px;
}
form label{
    font-size: 20px;
    margin-bottom: 16px;
}
form input{
    width: 320px;
    height: 38px;
    margin-top: 16px;
    margin-bottom: 16px;
}
form{
    padding: 10px 20px;
}
form .button{
    margin-top: 16px;
    text-align: center;
    background-color: black;
    padding: 13px;
    border-radius: 5px;
}
button{
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
}
.footer-div{
    background-color: #74C69D;
    margin-top: 10px;
}
.footer-social ul {
    display: flex;
    justify-content: center;
    padding-top:31px;
    padding-bottom: 31px;
    gap: 10px;
}
.footer-div .footer-span span{
    font-size: 20px;
    color: white;
    padding: 0 24px 31px 34px;
    
}
.message{
    height: 141px;
}
.larg-map{
    display: none;
}
    
@media screen and (min-width:835px){
    .header1 nav ul{
        display: flex;
        column-gap: 30px;
    }
    .header1 nav ul li a{
        color: white;
    }
    .burger{
        display: none;
    }
    .header1{
        padding: 35px 130px 38px 135px;
}
.main-reg-map{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
}
form input{
    width: 575px;
    height: 38px;
    margin-top: 16px;
}


.footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 131px;
    padding-right: 131px;
}
.message {
    height: 75px;
}
.small-map{
    display: none;
}
.larg-map{
    display: block;
}
}

