*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
ul li{
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    list-style-type: none;
}
img{
    max-width: 100%;
}
header{
    background-color: rgb(162, 233, 162);
}
.header1{
    display: flex;
    justify-content: space-between;
    padding: 30px 25px 48px 20px;
    align-items: center;
}
.header1 nav ul{
    display: none;
}
.main-div{
    text-align: center;
    margin-top: 35px;
}
.main-div h1{
    padding-bottom: 10px;
    padding-top: 10px;
}
.main-grid{
    display:grid;
}
.main-grid-1{
border-style: solid;
border-radius: 5px;
border-colorhite;
padding: 46px 30px;
border:30px 46px;
border-color: white;
}

.main-grid-2{
    border-style: solid;
border-radius: 5px;
border-colorhite;
padding: 46px 30px;
border:30px 46px;
border-color: white;
}

.main-grid-3{
    border-style: solid;
border-radius: 5px;
border-colorhite;
padding: 46px 30px;
border:30px 46px;
border-color: white;
}
.main-grid ul{
    padding-bottom: 45px;
}
.load-more{
    background-color: black;
    padding: 11.5px 29.5px;
    color: white;
}
.money{
    color:black;
    font-size: 40px;
    text-align: center;
}
.month{
    font-size: 15px;
}
.money-month{
    text-align: center;
    padding-bottom: 10px;
    row-gap: 5px;
}
.footer-div{
    background-color: #74C69D;
    margin-top: 10px;
}
.footer-social ul {
    display: flex;
    justify-content: center;
    padding-top:31px;
    padding-bottom: 31px;
    gap: 10px;
}
.footer-div .footer-span span{
    font-size: 20px;
    color: white;
    padding: 0 24px 31px 34px;
    
}
@media screen and (min-width:835px){
    .header1 nav ul{
        display: flex;
        column-gap: 30px;
    }
    .header1 nav ul li a{
        color: white;
    }
    .burger{
        display: none;
    }
    .header1{
        padding: 35px 130px 38px 135px;
    }
    .main-grid{
        grid-template-columns: repeat(3,1fr);
        padding: 78px 106px 135px 107px;
    }
    .footer-div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 131px;
        padding-right: 131px;
    }
}
    