*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
ul li{
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    list-style-type: none;
}
img{
    max-width: 100%;
}
header{
    background-color: rgb(162, 233, 162);
}
.header1{
    display: flex;
    justify-content: space-between;
    padding: 30px 25px 48px 20px;
    align-items: center;
}
.header1 nav ul{
    display: none;
}
.main-div{
    text-align: center;
    margin-top: 35px;
}
.main-div h1{
    padding-bottom: 10px;
    padding-top: 10px;
}
.main-grid{
    display:grid;
}
.main-grid-1{
border-style: solid;
border-radius: 5px;
border-color: white;
padding: 46px 30px;
}
.main-grid ul{
    padding-bottom: 45px;
}
.load-more{
    background-color: black;
    padding: 11.5px 29.5px;
    color: white;
}

@media screen and (min-width:835px){
    .header1 nav ul{
        display: flex;
        column-gap: 30px;
    }
    .header1 nav ul li a{
        color: white;
    }
    .burger{
        display: none;
    }
    .header1{
        padding: 35px 130px 38px 135px;
    }