*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
ul li{
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    list-style-type: none;
}
img{
    max-width: 100%;
}
header{
    background-color: rgb(162, 233, 162) ;
}
.header1{
    display: flex;
    justify-content: space-between;
    padding: 30px 25px 48px 20px;
    align-items: center;
}
.header1 nav ul{
    display: none;
} 
.header2 h1{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 28px;
}
.header2 span{
    border-style: solid;
    background-color: white;
    color: #000000;
    padding: 13px 48px 10px 47px;
    border-radius: 5px;
    border-color: white;
}
.header2 p{
    padding-bottom: 38px;
}
.header2{
    color: white;
    padding: 30px 20px 40px 20px;
}
.main-header{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
.social{
    display: grid;
    gap: 40PX;
    text-align: center;
    padding-bottom: 60px;
}
.social span{
    border-style: solid;
    border-radius: 5px;
    background-color: black;
    padding: 13px 29px 10px 29px; 
}
.social span a{
    color: white;
}
.main-loren{
    display: grid;
    gap: 60px;
    padding: 0 21px 40px 20px;
}
.main-loren h1{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 24px;
}
.main-loren p{
    margin-bottom: 29px;
}
.main-loren span{
    border-style: solid;
    border-radius: 5px;
    background-color: black;
    padding: 13px 29px 10px 29px;
    }
    .main-loren span a{
        color: white;
    }
    .main-header h1{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .article-header{
        text-align: center;
        padding-top: 42px;
        padding-bottom: 41px;
    }
    .article-header h1{
        padding-top: 15px;
        padding-bottom: 15px; 
    }
 
    .article-div{
        display: grid;
        text-align: center;
        row-gap: 15px;
    }
    .article-div span{
     border-style: solid;
    border-radius: 5px;
    background-color: black;
    padding: 13px 29px 10px 29px;
    margin-bottom: 54px;
    }
    .article-div span a{
        color: white;
    }
    .footer-div{
        background-color: #74C69D;
    }
    .footer-social ul {
        display: flex;
        justify-content: center;
        padding-top:31px;
        padding-bottom: 31px;
        gap: 10px;
    }
    .footer-div .footer-span span{
        font-size: 20px;
        color: white;
        padding: 0 24px 31px 34px;
        
    }
@media screen and (min-width:835px){
    .header1 nav {
        display: block;
    }
    .header1 nav ul{
        display: flex;
    }
    .header1 nav ul a{
        color: white;
    }
    .header1 a .burger{
        display: none;
    }
    .header1{
        padding: 35px 130px 52px 130px ;
    }
    .Portfolio{
        padding-left: 30px;
        padding-right: 30px;
    }
    .Services{
        padding-right: 30px;
    }
    .header2{
        display: flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        padding: 0 130px 52px 130px;
        
    }
    .header4{
        max-width: 416px;
        padding-right: 0px;
    }
    .header4 h1 {
        font-size: 40px;
    }
    .header3{
        max-width: 644px;
        padding-left: 168px;

    }
    .social{
        grid-template-columns: repeat(5,1fr);
        padding: 55px 140px 83px 130px;
    }
    .social span{
        grid-column: 3;
        color: white;
    }
    .main-loren{
        padding: 73px 130px;
    }
    .main-loren-1{
        display: flex; 
        align-items: center;       
    }
    .main-loren-1 img{
        max-width: 100%;
    }
    .main-loren-1 div{
        padding-left: 113px;
        max-width: 470px;
    }
    .main-loren-2{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .main-loren-2 div{
        padding-right: 113px;
        max-width: 470px;
    }
    .main-loren-2 img{
        max-width: 100%;
    }
    .main-header h1{
        font-size: 40px;
    }
    .article-div{
        grid-template-columns: repeat(4,1fr);
        padding-left: 132px;
        padding-right: 132px;
        column-gap: 43px;
    }
    .article-div span{
        grid-column: 3;
        margin-top: 45px;
    }
    .footer-div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 131px;
        padding-right: 131px;
    }

}